@tailwind components;
@tailwind utilities;

.scroll-bar {
  overflow-y: overlay;
  scrollbar-width: thin;
  scrollbar-color: #ffffffcc #cccccccc;
}
*::-webkit-scrollbar {
  width: 0.8rem;
  max-width: 8px;
}
*::-webkit-scrollbar-track {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  background: #efefef66;
  border-radius: 0.4rem;
}
*::-webkit-scrollbar-thumb {
  background: #cccccccc;
  border-radius: 0.4rem;
  border: 1px solid #9999;
}

body {
  overflow: hidden;
  height: 100vh;
}
a {
  color: inherit;
  text-decoration: none;
  text-underline-offset: 1px;
}
p {
  padding: 0;
  margin: 0;
}
